.aiq-card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.pollutant-card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.aiq-levels-card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      -2px -2px 4px rgba(255, 255, 255, 0.5);
}

body {
  /* background-color: #68c3d4; */
  background-image: linear-gradient(to bottom, #1153fa, #dad3d3)
}

.bg-orange {
  background-color: #FFA500;
}

.bg-very-unhealthy {
  background-color: #800080;
}

.bg-hazardous {
  background-color: #7E0023;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      -2px -2px 4px rgba(255, 255, 255, 0.5);
  font-family: 'Montserrat', sans-serif;
}